<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Votacion</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/login.css" rel="stylesheet">

  </head>

  <body>

      <div class="jumbotron">
        <h1>Elecciones 2015</h1>
          <h2>Ingreso</h2>
        <form class="form-signin">
        <label for="credSerie" class="sr-only">Serie</label>
        <input type="text" name="credencialSerie" id="credSerie" class="form-control" placeholder="Serie" required autofocus>
        <label for="credNumero" class="sr-only">Numero</label>
        <input type="number" name="credencialNumero" id="credNumero" class="form-control" placeholder="Numero" required autofocus>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Entrar</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>