<!DOCTYPE html>
<html ng-app="votingApp">
  <head>
      <title>Votacion</title>
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link href="../static/login.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="/static/voting.js"></script>

  </head>

  <body>

      <div ng-controller="votingController as voting" class="jumbotron">

          <h1>Elecciones 2015</h1>
          <h2>Ingreso</h2>

          <form ng-submit="voting.login()" class="form-signin">
              <label for="credSerie" class="sr-only">Serie</label>
              <input ng-model="voting.serie" type="text" name="credencialSerie" id="credSerie" class="form-control" placeholder="Serie" required autofocus>
              <label for="credNumero" class="sr-only">Numero</label>
              <input ng-model="voting.numero" type="number" name="credencialNumero" id="credNumero" class="form-control" placeholder="Numero" required autofocus>
              <input type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block" value="Entrar">
      </form>
      </div>
      <footer class="footer">
          <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
